#btn {
    background-color: navy;
    border: none;
}

#btn:hover{
    border: 1px solid whitesmoke;
    box-shadow: 5px 10px #888888;
}

#weatherDataInfo .card {
    background-color: orange;
    text-align: center;
    
}

.container {
    display: flex;
    justify-content: center;
}

#form {
    width: 500px;
}